<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.KnowledgeMapper">

    <resultMap id="KnowledgeMap" type="com.howei.pojo.Knowledge">
        <id property="id" column="id"></id>
        <result column="employee_id" property="employeeId"></result>
        <result column="employee_name" property="employeeName"></result>
        <result column="title" property="title"></result>
        <result column="keyword" property="keyword"></result>
        <result column="content" property="content"></result>
        <result column="title" property="title"></result>
        <result column="remark" property="remark"></result>
        <result column="status" property="status"></result>
        <result column="type" property="type"></result>
        <result column="heat" property="heat"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="pass_time" property="passTime"></result>
        <collection property="knowledgeCheckRecordList" resultMap="KnowledgeCheckRecordMap"></collection>
    </resultMap>
    <resultMap id="KnowledgeCheckRecordMap" type="com.howei.pojo.KnowledgeCheckRecord">
        <result column="kcr_id" property="id"></result>
        <result column="check_employee_id" property="employeeId"></result>
        <result column="check_employee_name" property="employeeName"></result>
        <result column="check_create_time" property="createTime"></result>
    </resultMap>
    <resultMap id="KnowledgeKeywordMap" type="com.howei.pojo.KnowledgeKeyword">
        <result column="id" property="id"></result>
        <result column="knowledge_id" property="knowledgeId"></result>
        <result column="keyword" property="keyword"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into knowledge(id,employee_id,employee_name,title,keyword,content,remark,create_time)
        values (null,#{employeeId},#{employeeName},#{title},#{keyword},#{content},#{remark},#{createTime})
    </insert>
    <insert id="insertCheckEmployee">
        insert into
            knowledge_check_record(knowledge_id,employee_id,employee_name,create_time)
        values
            (#{map.knowledgeId},#{map.employeeId},#{map.employeeName},#{map.createTime})
    </insert>
    <insert id="insertKk">
        insert into
        knowledge_keyword(knowledge_id,keyword,create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.knowledgeId},#{item.keyword},#{item.createTime})
        </foreach>

    </insert>
    <update id="updateById">
        update knowledge
        set
        update_time=#{record.updateTime}
        <if test="record.title!=null">
            ,title=#{record.title}
        </if>
        <if test="record.keyword!=null">
            , keyword=#{record.keyword}
        </if>
        <if test="record.content!=null">
            ,content=#{record.content}
        </if>
        <if test="record.remark!=null">
            ,remark=#{record.remark}
        </if>
        <if test="record.type!=null">
            ,status=#{record.status}
        </if>
        <if test="record.type!=null">
            ,type=#{record.type}
        </if>
        <if test="record.heat!=null">
            ,heat=#{record.heat}
        </if>
        <if test="record.passTime!=null">
            ,pass_time=#{record.passTime}
        </if>
        where
        id=#{record.id}


    </update>
    <delete id="deleteById">
        DELETE
            k,kcr
        FROM
            knowledge k
        LEFT JOIN knowledge_check_record kcr ON kcr.knowledge_id = k.id
        WHERE
            k.id = #{id}
    </delete>
    <delete id="deleteByKid">
        delete from knowledge_check_record where knowledge_id=#{id}

    </delete>
    <delete id="deleteKkByKid">
        delete from knowledge_keyword where knowledge_id=#{id}
    </delete>

    <select id="getByEmployeeId" resultMap="KnowledgeMap">
    SELECT
    DATE_FORMAT(k.create_time,"%Y-%m-%d %H:%i:%s") create_time,
        k.*,
        kcr.id kcr_id,
        kcr.employee_id check_employee_id,
        kcr.employee_name check_employee_name,
        kcr.create_time check_create_time
    FROM
        knowledge k
    JOIN employee e ON k.employee_id = e.id
    LEFT JOIN knowledge_check_record kcr ON kcr.knowledge_id = k.id
    WHERE
        k.employee_id = #{employeeId}
    </select>
    <select id="getById" resultMap="KnowledgeMap">
    SELECT
    DATE_FORMAT(k.create_time,"%Y-%m-%d %H:%i:%s") create_time,
        k.*,
         kcr.id kcr_id,
        kcr.employee_id check_employee_id,
        kcr.employee_name check_employee_name
    FROM
        knowledge k
    JOIN employee e ON k.employee_id = e.id
    LEFT JOIN knowledge_check_record kcr ON kcr.knowledge_id = k.id
    WHERE
        k.id = #{id}
    </select>
    <select id="getByMap" resultMap="KnowledgeMap">
        SELECT
        DATE_FORMAT(k.create_time,"%Y-%m-%d %H:%i:%s") create_time,
        k.*,
        kcr.id kcr_id,
        kcr.employee_id check_employee_id,
        kcr.employee_name check_employee_name
        FROM
        knowledge k
        JOIN employee e ON k.employee_id = e.id
        LEFT JOIN knowledge_check_record kcr ON kcr.knowledge_id = k.id
        WHERE
        k.type =#{map.type}
        <if test="map.employeeId!=null">
            and k.employee_id = #{ map.employeeId}
        </if>
        <if test="map.searchWord!=null and map.searchWord!='' ">
            and (
            k.title like #{ map.searchWord}
            or
            k.keyword like #{ map.searchWord}
            )
        </if>

        order by k.heat desc
    </select>
    <select id="getChechEmployeeByMap" resultType="java.util.Map">
        select  *
        from knowledge_check_record
        where knowledge_id=#{map.knowledgeId}
        and employee_id=#{map.employeeId}

    </select>


</mapper>