<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.Situationmapper" >
    

    <select id="selecttimes" resultType="java.lang.Integer">
        select times from learningsituation where UserName=#{param1}
    </select>

    <update id="updatetime" >
        update learningsituation set times=#{param2} where UserName=#{param1}
    </update>
</mapper>